body{
    background-color: #222222;
}
.wrap-header{
    position: relative;
    width: 100vw;
    height: 480px;
    background-image: url(./images/cover.png);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
}
.wrap-header div{
    width: 270px;
    position: absolute;
    color: white;
    left: calc(50% - 159px);
    right: 50%;
    bottom: 30px;
}
.wrap-header div p{
    width: 120%;
    margin: 0 auto;
    font-size: 20px;
}
.wrap-header div h1{
    position: relative;
    z-index: 5;
    margin-top: 10px;
    font-size: 35px;
    letter-spacing: 15px;
}
.wrap-header div h1::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(46, 88, 212);
    /* width: 130%; */
    width: calc(100% + 105px);
    height: 5px;
    border-radius: 15px;
    margin: 15px -15px 0 -25px;
    z-index: -1;
}
.wrap-main{
    position: relative;
    width: 50%;
    padding: 110px 0 150px;
    margin: 0 auto -50px;
    height: 100%;
    
}
.wrap-main:before{
    content: ' ';
    background-color: dodgerblue;
    position: absolute;
    width: 5px;
    margin: 170px auto 0;
    inset: 0;
}
.item{
    /* min-width: 250px; */
    position: relative;
    margin-top: -30px;
    color: white;
    background-color: #111111;
    padding: 20px 20px 0;
    border-radius: 10px;
}
.item:nth-child(odd){
    color: red;
    margin-right: calc(50% + 30px);
}
.item:nth-child(odd)::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid dodgerblue;
    background-color: #222222;
    border-radius: 50%;
    right: -40px;
    top: 88px;
}
.item:nth-child(odd)::before{
    content: '';
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -20px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #111;
}
.item:nth-child(even){
    margin-left: calc(50% + 30px);
    color: aqua;
}
.item:nth-child(even)::after{
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -20px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #111;
    transform: rotate(180deg);
}
.item:nth-child(odd) .div-title{
    text-align: right;
}
.item:nth-child(even) .div-title{
    text-align: left;
}
.item:nth-child(odd) img{
    float: left;
}
.item:nth-child(even) img{
    float: right;
}
.div-title{
    margin-top: -20px;
    padding: 30px 0;
}
.wrap-main .item img{
    display: block;
    margin-top: -70px;
    width: 100px;
    height: 100px;
}
.div-content{
    background-color: #000;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}
.wrap-main .item h2{
    font-size: 60px;
    display: inline-block;
    font-weight:bolder;
}
.wrap-main .item strong{
    display: block;
    margin-top: 10px;
    padding-left: 8px;
    color: white
}





