body, h1{
    margin: 0;
    padding: 0;
}

.main{
    background-color: rgba(42, 40, 40, 0.912);
    padding: 80px 0 160px;
}

.wrapper-main{
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0.9) 80%,
    #151515), 
    url(./images/cover.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
}
.cont-content,
.cont-side{
    margin-top: 48%;
}
.cont-content{
    background-color: rgba(255,255,255,0.5);
    border: 3px solid red;
    width: 80%;
    padding-right: 140px;
}
.cont-side{
    background-color: rgba(255,255,255,0.5);
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    width: 25%;
}
