.main{
    background-color: rgba(42, 40, 40, 0.912);
    padding: 80px 0 160px;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper-main{
    max-width: 1200px;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 0.9) 90%,
    rgba(123, 37, 37, 0.9) 100%), 
    url(./images/cover.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
    padding: 90px 40px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cont-content,
.cont-side{
    margin-top: 45%;
    color: white;
}
.cont-content{
    /* background-color: rgba(255,255,255,0.5); */
    width: 80%;
    padding-right: 140px;
}
.cont-content h1{
    font-size: 54px;
    font-weight: 500;
}
.cont-content p{
    font-size: 15px;
    margin-top: 30px;
    color: rgba(255, 254, 254, 0.8);
}
.cont-side{
    background-color: rgba(255,255,255,0.5);
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    width: 25%;
}
